

 

  
  
  div .bg {

    margin: 0;


  }

  

  #slogan
  {
    font-style: italic;
    font-size: x-large;
    width: 50%;
    height: 70%;

    padding: 10px;
    text-align: center;

    border-radius: 25px;
    border: 1px inset white;

    /* background: linear-gradient(to right, white ,  rgb(242, 186, 244) 50% ,rgb(136, 247, 255) 50% , white 100%); */
    background: radial-gradient(( red 10%));
    
  }


 





  .slideshow-container {

    padding: 20px;
   
    max-width: 500px;
    max-height: 500px;

   
  }
  #ims
  {
    max-height: 150%;
    max-width: 50%;
    box-shadow: 10px 10px rgb(0, 0, 0);

    z-index: -1; position: absolute;
  }

  .slideshow-container img {

    max-width: 100%;
    height: auto;
   
    
     object-fit: cover;
  }

  .slideshow-container img.active {
    display: block;
  }

 /* to make them in verticle align */
  /* .bg,
  .slogan,
  .slideshow-container {
    display: inline-flexbox;
  } */

  /* to align them horizontally */

  .maindash {
   
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10%;
   padding-bottom: 3.4%;
  }

  
  .slogan,
  .slideshow-container {
    flex: 1;
  }

 #egg
 {
  /* animation-timing-function: ease-in; */
  filter: drop-shadow(0 0 10px rgb(244, 85, 247));
 }

 #egg {
  animation-name:circle,eggcolor;
  
  /* animation-name: moveInCircle; */
    /* animation-name: moveUpDown; */
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
@keyframes eggcolor
{
   0%{  filter: drop-shadow(0 0 10px rgb(255, 7, 7));}
   20%{ filter: drop-shadow(0 0 10px rgb(255, 225, 28));} 
   40% { filter: drop-shadow(0 0 10px rgb(117, 247, 85));}
   60% { filter: drop-shadow(0 0 10px rgb(85, 247, 212));}
   80% { filter: drop-shadow(0 0 10px rgb(123, 85, 247));}
   100%{ filter: drop-shadow(0 0 10px rgb(244, 85, 247));}
}
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(50px);
    }
    
    
    100% {
      transform: translateX(0px);
    }

    
    
  }



  @keyframes moveInCircle {
    0% {
      transform: translateX(0) translateY(-200px) rotate(0);
      /* background-color: red; */
    }
    25% {
      transform: translateX(200px) translateY(0) rotate(90deg);
      /* background-color: blue; */
    }
    50% {
      transform: translateX(0) translateY(200px) rotate(180deg);
      /* background-color: yellow; */
    }
    75% {
      transform: translateX(-200px) translateY(0) rotate(270deg);
      /* background-color: green; */
    }
    100% {
      transform: translateX(0) translateY(-200px) rotate(360deg);
      /* background-color: red; */
    }
  }



 @keyframes circle{
  0% {
      transform: translateX(50px) translateY(0);
      /* background-color: red; */
    }
    25% {
      transform: translateX(0) translateY(50px);
      /* background-color: blue; */
    }
    50% {
      transform: translateX(-50px) translateY(0);
      /* background-color: yellow; */
    }
    75% {
      transform: translateX(0) translateY(-50px);
      /* background-color: green; */
    }
    100% {
      transform: translateX(50px) translateY(0);
      /* background-color: red; */
    }
  }

  html, body 
  {
    margin: 0;
     height: 100%; 
     /* overflow: hidden; */

     font-family: Arial, Helvetica, sans-serif;
     /* background: linear-gradient(to right, white, rgb(70, 243, 133) 49%, rgb(250, 252, 118) 50%, rgb(255, 255, 255)); */
     /* background-image: url(../../Images/6188692.jpg); */
     background-size: auto;
     background-repeat: repeat-y;
     
 
    }
    .boddyy{
      /* background-image: url(../../Images/6188692.jpg); */
      margin-top: 8%;
      /* background-size: cover; */
    }


    @media only screen and (max-width:480px) {

      #slogan
      {
        font-style: italic;
        font-size: medium;
        max-width: 60%;
        height: 50%;
    
        padding: 10px;
        text-align: center;
    
        border-radius: 25px;
        border: 1px inset white;
    
        /* background: linear-gradient(to right, white ,  rgb(242, 186, 244) 50% ,rgb(136, 247, 255) 50% , white 100%); */
        background: radial-gradient(( red 10%));
        
      }

      .boddyy{
        display: flex;
        flex-direction: column-reverse;
      }
            
      .slideshow-container
      {margin-top: -1%;
        /* border: 1px solid black; */
        /* background-color: antiquewhite; */
        
      }
      #egg
      {
       height: 150px;
       animation-name: moveUpDown,eggcolor;
  

      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      padding-bottom: 10%;
  
      }

    }

    .maindash{
      /* background:linear-gradient(rgb(218, 255, 163),white,cyan,white); */
      background: linear-gradient(#1FA0FF,#12DAFB,#A7FDCC);
    }