.upc{
    
    width:350px;
    height:480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin: 20px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
    margin-top: 5%;

}
.gradient{
    background-image: linear-gradient(#bcd5ff,#73bffd);
    height: 125px;
    border-radius: 4px 4px 0px 0px;
}
.profile-down img{
    height: 150px;
    border-radius: 100px;
    margin-top: -75px;
    margin-left:100px;
    padding: 5px;
    background: white;

}
.btn{
    margin-left: 130px;
}
.lower-container{
    margin-left: 2px;
}